/*Header*/

header{
    width: 100%;
    height: 100%;
    background-color: #121a2f;
}

.bg-banner{
    padding-top: 250px;
}

.banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.img-banner{
    position: relative;
}

.bg-img-top-menu{
    width: 100%;
    height: 100%;
}

.desktop-project-preview{
    position: absolute;
    width: 800px;
    top: 80px;
    left: 30px;
    border-radius: 20px;
    box-shadow: 1px 1px 25px 7px rgb(87 136 197);
    z-index: 1;
    transition: ease 0.3s;
}

.mobile-project-preview{
    position: absolute;
    width: 300px;
    top: -30px;
    right: 180px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px 7px rgba(87, 137, 197, 0.403);
    z-index: 2;
    transition: ease 0.3s;
}

.mobile-project-preview:hover, .desktop-project-preview:hover{
    transform: translate(3px,-3px);
    transition: ease 0.3s;
}

.txt-banner{
    margin: 40px 50px auto 180px;
}

.txt-banner h1{
    color: #fff;
    font-weight: 800;
    font-size: 65px;
    margin-bottom: 30px;
}

.txt-banner p{
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    margin-right: 70px;
    margin-bottom: 50px;
}

.main-button{
    display: block;
    width: 300px;
    text-align: center;
    margin-top: 30px;
    background-color: #1c6de5;
    padding: 15px;
    color: #fff;
    font-weight: 700;
    outline: none;
    border-style: none;
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 30px;
    position: relative;
    z-index: 30;
}

.features ul li{
    list-style: none;
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 17px;
}

.features ul li::before{
    padding-right: 15px;
    width: 12px;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 5px;
    content: url("../../assets/home/icons/check.svg");
}

.box-area2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box-area2 > li{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255,255,255,0.2);
    animation: animate-squares2 20s linear infinite;
    bottom: -100px;
    border-radius: 15px;
}

.box-area2 > li:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    animation-duration: 10s;
}

.box-area2 > li:nth-child(2){
    left: 36%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 10s;
}

.box-area2 > li:nth-child(3){
    left: 56%;
    width: 50px;
    height: 50px;
    animation-delay: 1.2s;
    animation-duration: 9s;
}

.box-area2 > li:nth-child(4){
    left: 25%;
    width: 25px;
    height: 25px;
    animation-delay: 1.5s;
    animation-duration: 5s;
}

.box-area2 > li:nth-child(5){
    left: 67%;
    width: 15px;
    height: 15px;
    animation-delay: 1.7s;
    animation-duration: 9s;
}

.box-area2 > li:nth-child(6){
    left: 10%;
    width: 30px;
    height: 30px;
    animation-delay: 1.4s;
    animation-duration: 9s;
}

@keyframes animate-squares2{
    0%{
        transform: translateY(100px) rotate(0deg);
        opacity: 0.3;
    }
    100%{
        transform: translateY(-1200px) rotate(360deg);
        opacity: 0;
    }
}

/* Section 1*/

.first-section-box{
    margin-top: 80px;
    background-color: #f0f6ff;
}

.img-section-1{
    width: 90%;
    margin: auto;
    display: block;
}


.txt-section-1{
    margin-right: 40px;
}

.txt-section-1 h2 {
    font-size: 40px;
    text-align: left;
    margin-top: 35px;
    margin-bottom: 30px;
}

.txt-section-1 .subtitle::before{       
content: "";
display: inline-block;
margin: 0 7px 0 -18px;
width: 11px;
height: 10px;
}

.txt-important-terms{
    color: #1c6de5 ;
}

.txt-section-1 p{
    font-size: 19px;
    text-align: left;
    margin-top: 20px;
    font-weight: 400;
}

.txt-section-1 .subtitle{
    font-size: 22px;
    color: #1a1b1e;
    font-weight: 400;
}

.btn-s1{
    margin-top: 30px;
    background-color:#1c6de5;
    padding: 15px;
    width: 70%;
    color: #fff;
    font-weight: 700;
    outline: none;
    border-style: none;
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;
}

.btn-s1 a{
    color:#fff;
    text-decoration: none;
}




.wave-separate-section-1{
    width: 100%;
    z-index: 1000;
    position: relative;
    background-color: #fff;
    height: 70px;
}

/* Servicios de Oasis Webcore*/

.second-section{
    margin-top: 40px;
    margin-bottom: -210px;
    z-index: 2000;
    position: relative;
}

.second-section h2{
    text-align: center;
    font-size: 35px;
    margin-top: 80px;
    margin-bottom: 30px;
}

.box-services-s2{
    margin: 20px;
    padding: 20px 30px;
    height: 450px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 1px 1px 45px rgb(211, 211, 211);
    transition: all 1s;
    position: relative;
    z-index: 200;
}
.box-services-s2:hover , .box-services-s2:hover ~ .btn-services button{
    transform: translateY(-20px);
    transition: all 1s;
}

.img-services-s2{
    width: 100px;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
    
}

.pd-fix{
    padding-top: 5px;
}

.box-img-services-s2{
    display: block;
    margin: auto;
    width: 110px;
    height: 110px;
    background-color: rgb(240, 240, 240);
    box-shadow: 1px 1px 25px rgb(219, 219, 219);
    border-radius: 50%;
    margin-bottom: 20px;
}

.box-services-s2 h3{
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
}

.box-services-s2 p{
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    color: #555555;
}

.info-box-home{
    position: relative;
}


.info-box-bg1{
    position: absolute;
    width: 100%;
    height: 35px;
    background-color: #ccc;
    top: 70px;
    transform: rotate(-2deg);
}

.info-box-bg2{
    position: absolute;
    width: 100%;
    height: 35px;
    background-color: #821AA4;
    top: 105px;
    transform: rotate(-2deg);
}

.box-info-home{
    width: 100%;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 1px 1px 165px rgb(211, 211, 211);
    z-index: 2000;
    position: relative;
    margin-top: 50px;
}

.txt-info-home{
    font-size: 23px;
    font-weight: 400;
    margin-top: 60px;
}

.word-info-home{
    color: #740699;
    font-weight: bold;
}

.porcentaje-info-home{
    color: #41ac0c;
    font-weight: bold;
}

.img-info-home{
    width: 225px;
    margin-left: 30px;
}

/* Segunda seccion*/

.second-section-box{
    margin-top: -10px;
    padding-top: 180px;
    background-color: #f0f6ff;
}

.info-section > h2{
    text-align: center;
    margin-bottom: 100px;
    font-size: 45px;
}

.row-info{
    margin-bottom: 130px;
    position: relative;
}

.info-img{
    width: 100%;
    border-radius: 25px;
    box-shadow: 1px 1px 25px rgb(219 219 219 / 80%);
    position: relative;
    background-color: #fff;
    padding: 10px;
    display: block;
    position: relative;
    z-index: 10;
}

.info-img-margin-left{
    margin-left: -30px;
}

.info-img-margin-right{
    margin-left: 30px;
}


.img-box-left::before{
    position: absolute;
    opacity: 0.3;
    z-index: 0;
    left: -140px;
    top: 0;
    content: url("../../assets/home/previews/puntos.png");
    transform: scale(0.85);
}

.img-box-right::before{
    position: absolute;
    opacity: 0.3;
    z-index: 0;
    right: -140px;
    top: 0;
    content: url("../../assets/home/previews/puntos.png");
    transform: scale(0.85);
}

.bg-services{
    position: absolute;
    width: 600px;
    height: 80px;
    content: '';
    background: #f0f6ff;
    top: 300px;
    z-index: 0;
    left: 300px;
}

.second-section-text-box{
    padding: 60px;
}

.second-section-text-box h2{
    font-size: 35px;
    color: rgb(14, 14, 14);
    margin-bottom: 30px;
    margin-top: 20px;
}

.second-section-text-box p{
    font-size: 20px;
}

.second-section-text-box span{
    font-weight: 800;
    color: rgb(140, 140, 140);
    font-weight: 800;
    line-height: 1.2;
}


/* Estilos de sección de precios */

.quarter-section-box {
    background-color: #FFF;
    padding-top: 150px;
    margin-top: -20px;
}

.container-margin-prices{
    max-width: 1500px;
    margin: 0 auto 80px auto;
}

.info-prices h2{
    text-align: center;
    font-size: 50px;
    letter-spacing: 2px;
    margin-top: -50px;
    margin-bottom: 35px;
}

.info-prices p{
    text-align: center;
    font-size: 18px;
    margin-bottom: 100px;
}

.box-price{
    padding: 0 12px;
}

.box-prices-unitary{
    position: relative;
    width: 100%;
    height: auto;
    margin: 10px;
    background-color: #fff;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 1px 1px 25px rgb(219, 219, 219, 0.8);
    padding: 20px;
    transition: 1s all;
}

.box-recommended{
    border-radius: 0px 0px 25px 25px !important;
}

.box-recommended::before{
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #12324e;
    border-radius: 25px 25px 0 0;
    content: 'EL MÁS VENDIDO';
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    font-weight: 700;
    color: #FFF;
    top: -50px;
    left: 0;
}

.box-new-service::before{
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #12324e;
    border-radius: 25px 25px 0 0;
    content: 'NUEVO SERVICIO';
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    font-weight: 700;
    color: #FFF;
    top: -50px;
    left: 0;
}

.box-shadow::before{
    position: absolute;
    width: 100%;
    height: 25px;
    background-color: #12324e;
    border-radius: 25px 25px 0 0;
    content: '';
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    font-weight: 700;
    color: #FFF;
    top: -10px;
    left: 0;
}

.box-prices-unitary:hover{
    transform: translateY(-15px);
    transition: 1s all;
}

.box-price-title{
    text-align: center;
    padding: 40px;
}

.box-price-title h2{
    font-weight: 800;
    margin-bottom: 20px;
}

.box-price-section{
    text-align: center;
    padding: 0 30px;
}

.box-price-section span{
    color: rgba(0, 0, 0, 0.434);
    font-weight: 600;
}

.box-price-section p{
    font-size: 2.6em;
    color: rgba(0, 0, 0, 0.862);
    margin-top: 10px;
    font-weight: 600;
    margin-bottom: 30px;
    position: relative;
}

.box-price-section p::before{
    content: 'COP';
    font-size: 12px;
    position: absolute;
    bottom: -10px;
    left: 50%;
}

.box-price-section button{
    width: 100%;
    height: 55px;
    background-color: #1c6de5;
    border: none;
    border-radius: 10px;
    padding: 12px 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s all;
}

.box-price-section button:hover{
    background-color: #1e4f99;
    transition: 0.3s all;
}

.features{
    list-style: none;
    text-align: left;
    margin-top: 35px;
    padding-bottom: 40px;
    position: relative;
}

.features li{
    margin-bottom: 12px;
}

.full-item::before{
    padding-right: 20px;
    width: 12px;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 5px;
    content: url("../../assets/home/icons/check.svg");
}

.limited-item::before{
    padding-right: 15px;
    width: 12px;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 5px;
    content: url("../../assets/home/check-limited.svg");
}

.no-service::before{
    padding-right: 15px;
    width: 12px;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 5px;
    content: url("../../assets/home/no-service.svg");
}

.show-more{
    position: relative;
    padding-bottom: 30px;
}

.show-more > a{
    text-decoration: none;
    color: #12324e;
    font-weight: 600;
}

.down-arrow{
    width: 10px;
    margin-left: 10px;
}

/* More services*/

.more-services{
    width: 100%;
    height: 350px;
    background-image: url("../../assets/home/bg-more-services.svg");
    display: grid;
    place-items: center;
}

.box-new-services h2{
    text-align: center;
    color: #FFF;
    font-size: 40px;
    margin-bottom: 40px;
}

.box-new-services a{
    font-size: 20px;
    padding: 15px 80px;
    color: #FFF;
    text-decoration: none;
    border: 1px solid #FFF;
    border-radius: 10px;
    display: table;
    margin: 0 auto;
    transition: all 0.3s;
}

.box-new-services a:hover{
    background-color: #FFF;
    color: #000;
    transition: all 0.3s;
}


/* Faq section*/

.faq-setion{
    margin-top: 90px;
    padding-bottom: 30px;
}

.txt-faq-section{
    margin-top: 30px;
    margin-bottom: 10px;
}

.txt-faq-section h2{
    font-size: 38px;
    margin-bottom: 10px;
}

.txt-faq-section p{
    margin-bottom: 20px;
}

.img-faq-section{
    width: 100%;
    position: relative;
}

.left-side-faq-section{
    position: relative;
    overflow: hidden;
    padding-bottom: 40px;
}

.box-faq-unitary{
    position: absolute;
    top: 30px;
    left: 120px;
    width: 350px;
    height: 520px;
    border: 1px solid rgb(214, 214, 214, 0.5);
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 1px 1px 15px rgb(211, 211, 211, 0.6);
    transform: translateX(-500px);
}

.show-question{
    animation-name: traer-pregunta;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.hide-question{
    animation-name: devolver-pregunta;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


@keyframes traer-pregunta{
from{transform: translateX(-500); opacity: 0.7;}
to{transform: translateX(0); opacity: 1;}
}

@keyframes devolver-pregunta{
    from{transform: translateX(0); opacity: 1;}
    to{transform: translateX(-500px); opacity: 0.7;}
}




.img-faq-answers{
    width: 110px;
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

.info-faq-unitary{
    padding: 25px;
}

.box-faq-unitary h3{
    text-align: center;
    margin-bottom: 15px;
}

.box-faq-unitary p{
    text-align: center;
}

.fix-margin-faq-answer{
    margin-top: 20px;
}

.questions-box ul{
    list-style: none;
}

.questions-box ul li::before{
    content: "";
    display: inline-block;
    margin: 0 7px 0 -18px;
    width: 11px;
    height: 10px;
    background: url(../../assets/home/spec-check.svg);
}

.questions-box ul li{
    position: relative;
    padding: 10px 0 10px 30px;
    margin-bottom: 12px;
    background-color: #d1ecf1;
    border-color: #bee5eb;
    border-radius: 15px;
    cursor: pointer;
}

.arrow-down{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 15px;
    top: 10px;
    opacity: 0.8;
}


.btn-garantia-section-faq, .btn-autores-section-faq,
.btn-cmunicacion-section-faq{
    text-decoration: none;

}

.btn-garantia-section-faq button{
    padding:10px;
    color: #fff;
    background-color: #28B463;
    border-radius: 10px;
    border-style: none;
    outline: none;
    transition: 1s all;
    width: 100%;
    font-size: 16px;
    margin-top: 40px;
    cursor: pointer;
}

.btn-autores-section-faq button{
    padding:10px;
    color: #fff;
    background-color: #3498DB;
    border-radius: 10px;
    border-style: none;
    outline: none;
    transition: 1s all;
    width: 100%;
    font-size: 16px;
    margin-top: 40px;
    cursor: pointer;
    
}

.btn-cmunicacion-section-faq button{
    padding:10px;
    color: #fff;
    background-color: #D35400;
    border-radius: 10px;
    border-style: none;
    outline: none;
    transition: 1s all;
    width: 100%;
    font-size: 16px;
    margin-top: 40px;
    cursor: pointer;
}

.btn-cmunicacion-section-faq button:hover{
    background-color: #fa8c42 ;
}

.btn-autores-section-faq button:hover{
    background-color: #1fa6ff;
}


.btn-garantia-section-faq button:hover{

    background-color: #29d471;
    transition: 1s all;
}

.move-btn-prices{
    animation-name:mover-boton-precio;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    bottom: -59px;
    position: absolute;
    left: 89px;
    transition: 2s all;
}

@keyframes mover-boton-precio{
    0%{transform: translateY(-5px); opacity: 0;}
    25%{transform: translateY(5px); opacity: 1;}
    50%{transform: translateY(-5px);}
    75%{transform: translateY(5px);opacity: 1;}
    100%{transform: translateY(-5px);opacity: 0;}
}

/* Sección de portafolio */


.fifth-section-box{
    background-color: #12324e;
    height: 620px;
    margin-top: 40px;
    position: relative;
    margin-bottom: 30px;
}

.briefcase-section{
    padding-top: 60px;
    position: relative;
}


.txt-briefcase h2{
    color: #fff;
    font-size: 38px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 600;
}

.img-services-portfolio-section{
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}

.icon-portfolio-1{
    position: absolute;
    left: -55px;
    color: #ccc;
    top: 280px;
    list-style: none;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius:50%;
    text-align: center;
    z-index: 3000;
    cursor: pointer;
}

.icon-portfolio-1 img, 
.icon-portfolio-2 img{
    width: 40px;
    z-index: 3000;
}

.icon-portfolio-2{
    position: absolute;
    right: -45px;
    color: #ccc;
    top: 280px;
    list-style: none;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius:50%;
    text-align: center;
    z-index: 3000;
    cursor: pointer;
}

.img-portfolio-section a{
    width: 360px;
    height: 300px;
}

.img-portfolio-section{
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fill,410px);
    grid-template-rows: 1fr;
    width: 480%;
}

.MoveRigthSlider{
    animation-name: MoveRigth;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    padding-left: 0;
}

@keyframes MoveRigth{
    from{transform: translateX(0px);}
    to{transform: translateX(-1220px);}
}

.MoveLeftSlider{
    animation-name: MoveLeft;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    padding-left: 0;
}

@keyframes MoveLeft{
    from{transform: translateX(-1220px);}
    to{transform: translateX(0);}
}

.hidden-btn-porfolio{
    display:none;
}

.img-portfolio{
    width: 380px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 20px;
    transition: 0.2s all;
}

.img-portfolio:hover{
    padding: 1px;
    transition: 0.2s all;
}

.btns-portfolio{
    display: flex;
    justify-content: center;
}

.btn-portfolio, .btn-portfolio2{
    display: inline-block;
    text-decoration: none;
    margin-top: 30px;
    width: 400px;
    margin-left: 20px;
    margin-right: 20px;
}

.btn-portfolio2 button{
    display: inline-block;
    width: 400px;
    border-radius: 10px;
    outline: none;
    border-style: none;
    color: #fff;
    background-color: #3498DB;
    padding: 15px;
    font-size: 19px;
    transition: 0.5s all;
    cursor: pointer;
}

.btn-portfolio button{
    display: inline-block;
    width: 400px;
    border-radius: 10px;
    outline: none;
    border-style: none;
    color: #fff;
    background-color: #28B463;
    padding: 15px;
    font-size: 19px;
    transition: 0.5s all;
    cursor: pointer;
}

.btn-portfolio button:hover{
    background-color: #17c45f;
    transition: 0.5s all;
}

.btn-portfolio2 button:hover{
    background-color: #1fa6ff;
    transition: 0.5s all;
}

.box-area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box-area li{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255,255,255,0.2);
    animation: animate-squares 20s linear infinite;
    bottom: -100px;
    border-radius: 15px;
}

.box-area li:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    animation-duration: 10s;
}

.box-area li:nth-child(2){
    left: 36%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 10s;
}

.box-area li:nth-child(3){
    left: 56%;
    width: 30px;
    height: 30px;
    animation-delay: 1.2s;
    animation-duration: 9s;
}

.box-area li:nth-child(4){
    left: 16%;
    width: 25px;
    height: 25px;
    animation-delay: 1.5s;
    animation-duration: 4s;
}

.box-area li:nth-child(5){
    left: 67%;
    width: 15px;
    height: 15px;
    animation-delay: 1.7s;
    animation-duration: 9s;
}

.box-area li:nth-child(6){
    left: 10%;
    width: 77px;
    height: 77px;
    animation-delay: 1.4s;
    animation-duration: 9s;
}

@keyframes animate-squares{
    0%{
        transform: translateY(100px) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}

/* Formulario de contacto */

.sixth-section-box{
    padding-top: 60px;
}

.txt-final-form{
    margin-right: 10px;
}

.txt-final-form h2{
    font-size: 38px;
}

.txt-final-form p{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.txt-final-form ul li{
    list-style: none;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.txt-final-form ul li::before{
    content: "";
    display: inline-block;
    margin: 0 7px 0 -18px;
    width: 11px;
    height: 10px;
    background: url(../../assets/home/spec-check.svg);
}

.social-networks{
    margin-top: 45px;
}

.social-networks a{
    text-decoration: none;
    display: block;
    width: 500px;
}

.social-networks button{
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    outline: none;
    border-style: none;
    font-size: 18px;
    text-align: left;
    margin-bottom: 15px;
    color: #fff;
    cursor: pointer;
}

.whatsapp-form{
    background-color: #28B463;
}

.mail-form{
    background-color: #3498DB;
}







.final-form{
    border-radius: 15px;
    box-shadow: 1px 1px 25px rgb(219, 219, 219, 0.8);
    padding: 20px;
    background-color: #fff;
    padding: 40px;
    margin-right: 50px;
    position: relative;
    z-index: 2000;
}

.final-form h2{
    position: relative;
    text-align: center;
    font-size: 38px;
    margin-bottom: 25px;
    z-index: 2000;
}

select{
    appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.select-form{
    position: relative;
}

.arrow-down-form{
    position: absolute;
    z-index: 2000;
    width: 15px;
    height: 15px;
    right: 12px;
    top:12px;
    opacity: 0.5;
}



.final-form form input, select, textarea{
    width: 100%;
    border-radius: 10px;
    outline: none;
    border-style: none;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 15px; 
}

.final-form form textarea{
    resize: none;
    height: 150px;
}

.final-form form button{
    width: 100%;
    display: block;
    margin: auto;
    outline: none;
    border-style: none;
    font-size: 18px;
    border-radius: 15px;
    padding: 10px;
    background-color: #3498DB;
    color: #fff;
    z-index: 2000;
    position: relative;
    transition: 0.5s all;
    cursor: pointer;
}

.final-form form button:hover{
    background-color: #14a1ff;
    transition: 0.5s all;
}

.form-section{
    position: relative;
}

.shadow-form{
    position: absolute;
    width: 540px;
    height: 735px;
    background-color: #008EF1;
    border-radius: 15px;
    top: 30px;
    right: 30px;
    z-index: 500;
    opacity: 0.4;
}

/* Footer */

footer{
    margin-top: 60px;
    background-color: #12324e;
}

.social-media-footer .container-margin{
    color: #fff;
    height: 80px;
    border-bottom: 1px solid rgb(255, 255, 255,0.2);

}

.social-media-text{
    margin-top: 30px;
    font-size: 20px;
}

.info-footer-box{
    padding-bottom: 10px;
}

.info-footer{
    border-bottom: 1px solid rgb(255, 255, 255,0.2);
    padding-bottom: 40px;
}

.title-footer{
    margin-top: 40px;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 18px;
    color: #fff;
}

.line-below-title-footer{
    width: 40px;
    list-style: none;
    border-bottom: 2px solid #1361a5;
    margin-bottom: 30px;
}

.txt-desc-footer{
    margin-right: 55px;
    font-weight: 400;
    font-size: 15.5px;
    color: rgb(235, 235, 235);
}

.item-list-footer li , .item-list-footer li a{
    text-decoration: none;
    list-style: none;
    margin-bottom: 22px;
    font-size: 15.5px;
    color: rgb(226, 226, 226);
    transition: 0.5s;
}



.item-list-contact span img{
    width: 25px;
    display: inline-block;
    margin-left: -35px;
    margin-right: 10px;
    padding-top: 5px;
}

.item-list-footer li a:hover{
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

.final-info-footer p{
    text-align: center;
    padding-bottom: 10px;
    color: #fff;
}

/*

██████╗░███████╗░██████╗██████╗░░█████╗░███╗░░██╗░██████╗██╗██╗░░░██╗███████╗
██╔══██╗██╔════╝██╔════╝██╔══██╗██╔══██╗████╗░██║██╔════╝██║██║░░░██║██╔════╝
██████╔╝█████╗░░╚█████╗░██████╔╝██║░░██║██╔██╗██║╚█████╗░██║╚██╗░██╔╝█████╗░░
██╔══██╗██╔══╝░░░╚═══██╗██╔═══╝░██║░░██║██║╚████║░╚═══██╗██║░╚████╔╝░██╔══╝░░
██║░░██║███████╗██████╔╝██║░░░░░╚█████╔╝██║░╚███║██████╔╝██║░░╚██╔╝░░███████╗
╚═╝░░╚═╝╚══════╝╚═════╝░╚═╝░░░░░░╚════╝░╚═╝░░╚══╝╚═════╝░╚═╝░░░╚═╝░░░╚══════╝

*/

@media screen and (max-width: 1440px){
    .banner{
        background-size: cover;
        width: 100%;
    }
    .autor-section{
        padding-top: 80px;
    }
}

@media screen and (max-width: 1024px){
    .bg-banner{
        width: 100%;
    }
    .txt-banner{
        margin: 180px 130px;
    }
    .btn-s1{
        margin-bottom: 60px;
    }
    .img-section-1{
        display: none;
    }
    .info-box-home{
        margin-top: -20px;
    }
    .txt-info-home{
        margin-top: 45px;
    }
    .box-services-s2{
        margin: 20px 0;
        height: 550px;
    }
    .txt-autors-section{
        margin-top: 130px;
    }
    .txt-autors-section p{
        font-size: 19px;
    }
    .container-methodology{
        margin-top: 30px;
    }
    .info-prices{
        margin-top: 40px;
    }
    .img-prices{
        width: 100%;
    }
    .txt-faq-section p{
        font-size: 19px;
    }
    .questions-box ul li{
        font-size: 18px;
    }
    .img-faq-section{
        width: 560px;
        display: block;
        margin: auto;
        padding-bottom: 50px;
    }
    @keyframes traer-pregunta{
        from{transform: translateX(-500); opacity: 0.7;}
        to{transform: translateX(125px); opacity: 1;}
        }
        
    @keyframes devolver-pregunta{
        from{transform: translateX(125px); opacity: 1;}
        to{transform: translateX(-500px); opacity: 0.7;}
    }
    .fifth-section-box{
        margin-top: 0;
    }

    .img-portfolio-section{
    display: grid;
    grid-template-columns: repeat(auto-fill,460px);
    grid-template-rows: 1fr;
    width: 480%;
    }

    @keyframes MoveRigth{
        from{transform: translateX(0px);}
        to{transform: translateX(-910px);}
    }
    
    @keyframes MoveLeft{
        from{transform: translateX(-910px);}
        to{transform: translateX(0);}
    }

    .final-form{
        margin-top: 40px;
    }

    .shadow-form{
        top: 80px;
        width: 80%;
    }

    .sixth-section-box{
        margin-bottom: 100px;
    }
    
}

@media screen and (max-width: 768px){
    .bg-banner{
        width: 100%;
    }
    .txt-banner{
        margin: 200px 60px;
    }

    .txt-banner h1{
        font-size: 75px;
        margin-bottom: 70px;
    }

    .txt-banner p:nth-child(2){
        font-size: 25px;
    }

    .txt-section-1 h2{
        margin-top: 20px;
    }

    .btn-submit-banner{
        font-weight: 500;
        font-size: 19px;
        margin-top: 15px;
        width: 220px;
    }

    .btn-s1{
        margin-bottom: 30px;
    }

    .img-info-home{
        width: 100%;
        margin: 0;
    }

    .info-box-home{
        margin-top: -20px;
    }
    .txt-info-home{
        margin-top: 25px;
        padding-bottom: 30px;
    }
    .box-services-s2{
        margin: 40px 0 40px 0;
        height: 400px;
    }
    .box-services-s2 h3{
        font-size: 20px;
    }
    .box-services-s2 p{
        font-size: 18px;
    }
    .txt-autors-section{
        margin-top: 130px;
    }
    .txt-autors-section p{
        font-size: 19px;
    }

    .img-autor-section{
        grid-template-columns: repeat(auto-fill,268px);
        grid-template-rows: 1fr 1fr;
        width: 300%;
    }

    @keyframes autor-animation{
        0%{transform: translateX(20px); opacity: 1;}
        10%{opacity: 1;}
        20%{opacity: 1;}
        30%{opacity: 1;}
        40%{opacity: 1;}
        50%{transform: translateX(-1220px);}
        60%{opacity: 1;}
        70%{opacity: 1;}
        80%{opacity: 1;}
        90%{opacity: 1;}
        100%{transform: translateX(20px); opacity: 1;}
    }

    .container-methodology{
        margin-top: 30px;
    }

    .txt-methodology p{
        font-size: 20px;
    }

    .unitary-methodology-box p{
        font-size: 18px;
        padding-bottom: 5px;
    }

    .info-prices{
        margin-top: 80px;
    }

    .info-prices p{
        font-size: 20px;
    }

    .txt-prices ul li{
        font-size: 18px;
    }

    .box-prices-unitary{
        margin-bottom: 55px;
    }

    .btn-prices button{
        padding: 20px 70px;
        margin: 20px auto;
    }

    .faq-setion{
        margin-top: 30px;
    }
    
    .txt-faq-section p{
        font-size: 20px;
    }

    @keyframes traer-pregunta{
        from{transform: translateX(-500); opacity: 0.7;}
        to{transform: translateX(25px); opacity: 1;}
        }
        
    @keyframes devolver-pregunta{
        from{transform: translateX(25px); opacity: 1;}
        to{transform: translateX(-500px); opacity: 0.7;}
    }
    .fifth-section-box{
        margin-top: 0;
        height: 700px;
    }

    .img-portfolio{
        width: 310px;
        height: 240px;
    }

    .img-portfolio-section{
    display: grid;
    grid-template-columns: repeat(auto-fill,330px);
    grid-template-rows: 1fr;
    width: 480%;
    }

    .img-services-portfolio-section{
        margin-bottom: 0;
    }

    @keyframes MoveRigth{
        from{transform: translateX(0px);}
        to{transform: translateX(-655px);}
    }
    
    @keyframes MoveLeft{
        from{transform: translateX(-655px);}
        to{transform: translateX(0);}
    }

    .icon-portfolio-1{
        left: -45px;
    }

    .icon-portfolio-1, .icon-portfolio-2{
        top: 300px;
    }

    .btns-portfolio{
        margin-top: -45px;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

}


@media screen and (max-width: 425px){
    .txt-banner{
        margin: 125px 20px;
    }
    .txt-banner h1{
        font-size: 55px;
        margin-bottom: 20px;
    }
    .txt-banner p:nth-child(2){
        font-size: 17px;
        margin-bottom: 20px;
    }
    .contact-form-banner:nth-child(2){
        width: 295px;
        margin: 15px 0 15px 0;
        padding: 15px 30px;
    }
    .btn-submit-banner{
        margin-left: 0;
    }
    .btn-s1{
        width: 100%;
    }
    .img-info-home{
        width: 150px;
        display: block;
        margin: auto;
    }

    .txt-info-home{
        font-size: 18px;
        margin: 10px 20px;
        text-align: center;
    }
    .info-box-bg1{
        top: 110px;
    }
    .info-box-bg1{
        top: 140px;
    }
    .second-section h2{
        margin-top: 55px;
    }
    .box-services-s2{
        height: auto;
    }
    .box-services-s2 p{
        padding-bottom: 20px;
    }
    .txt-autors-section{
        margin-right: 0;
    }
    .txt-autors-section h2{
        margin: 40px 0;
    }
    .btn-s2{
        width: 100%;
    }
    .img-autor-section{
        grid-template-columns: repeat(auto-fill,268px);
        grid-template-rows: 1fr 1fr;
        width: 580%;
    }
    @keyframes autor-animation{
        0%{transform: translateX(20px); opacity: 1;}
        10%{opacity: 1;}
        20%{opacity: 1;}
        30%{opacity: 1;}
        40%{opacity: 1;}
        50%{transform: translateX(-1500px);}
        60%{opacity: 1;}
        70%{opacity: 1;}
        80%{opacity: 1;}
        90%{opacity: 1;}
        100%{transform: translateX(20px); opacity: 1;}
    }
    .methodology-section{
        padding-top: 30px;
    }
    .txt-methodology{
        margin-left: 0;
    }
    .box-prices-unitary{
        margin: 45px 0;
    }

    .faq-setion{
        display: none;
    }

    .btn-prices button{
        padding: 10px 40px;
    }

    .fifth-section-box{
        margin-top: 40px;
        height: 1050px;
    }

    .img-portfolio-section a{
        height: 260px;
    }

    .img-portfolio-section{
        display: grid;
        grid-template-columns: repeat(auto-fill,350px);
        grid-template-rows: 1fr;
        width: 450%;
        margin-left: 20px;
    }

    .img-portfolio-section a:nth-child(1){
        order: 0;
    }
    .img-portfolio-section a:nth-child(2){
        order: 5;
    }
    .img-portfolio-section a:nth-child(3){
        order: 2;
    }
    .img-portfolio-section a:nth-child(4){
        order: 6;
    }
    .img-portfolio-section a:nth-child(5){
        order: 4;
    }
    .img-portfolio-section a:nth-child(6){
        order: 3;
    }
    .icon-portfolio-1{
        top: 770px;
        left: 155px;
    }
    .icon-portfolio-2{
        right: 155px;
        top: 770px;
    }
    .btns-portfolio{
        margin-top: 50px;
    }
    @keyframes MoveRigth{
        from{transform: translateX(0px);}
        to{transform: translateX(-355px);}
    }
    
    @keyframes MoveLeft{
        from{transform: translateX(-355px);}
        to{transform: translateX(0);}
    }
    .btns-portfolio{
        width: 100%;
        position: relative;
    }
    .btn-portfolio, .btn-portfolio2{
        width: 100%;
    }
    .btn-portfolio button, .btn-portfolio2 button{
        width: 100%;
    }

    .final-form{
        margin-right: 0;
    }
    .shadow-form{
        width: 350px;
        height: 757px;
        right: -10px;
    }


    .social-networks{
        display: none;
    }
}

@media screen and (max-width: 375px){
    .txt-banner h1{
        font-size: 47px;
        margin-bottom: 75px;
    }
    .txt-section-1{
        margin-right: 0;
    }
    .img-autor-section{
        grid-template-columns: repeat(auto-fill,268px);
        width: 680%;
    }
    @keyframes autor-animation{
        0%{transform: translateX(20px); opacity: 1;}
        10%{opacity: 1;}
        20%{opacity: 1;}
        30%{opacity: 1;}
        40%{opacity: 1;}
        50%{transform: translateX(-1560px);}
        60%{opacity: 1;}
        70%{opacity: 1;}
        80%{opacity: 1;}
        90%{opacity: 1;}
        100%{transform: translateX(20px); opacity: 1;}
    }
    .btn-prices button{
        padding: 10px 30px
    }
    .box-prices-unitary{
        margin: 20px 0;
    }
    .img-portfolio-section{
        margin-left: 0;
    }
    .img-portfolio{
        width: 290px;
        height: 220px;
    }
    .img-portfolio-section a{
        height: 240px;
    }
    .icon-portfolio-1{
        top: 730px;
        left: 130px;
    }
    .icon-portfolio-2{
        right: 130px;
        top: 730px;
    }
    .btns-portfolio{
        margin-top: 20px;
    }
    .shadow-form{
        width: 280px;
        height: 855px;
    }
}